body {
    font-family: inter;
}
li {
    font-weight: 350;

}
.container {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 1px 15px 3px #d7d7d7;
    
}
.menu-lista {
   display: flex;
   justify-content: center;
   justify-content: space-between;
   margin-right: 10%;
   margin-left: 10%;
  font-size: medium;
  flex-wrap: wrap;
  

}
.menu {
    width: 70%;
}
.logo {
    width: 30%;
    font-size: 24px;
    font-weight:bolder;
    margin-left: 100px;
    color: #4C6EF5;
    flex-wrap: wrap;
}
a{
    list-style: none;
    text-decoration: none;
    color: #343A40;
}
a:hover {
    text-decoration: underline;
    color: #4C6EF5 ;
}